.contenedor-detalle {
    display: flex;
    width: 100%;
    height: auto;
}

.left {
    flex: 1;
    padding: 1rem;
}

.right {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cantidad-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    display: block;
    margin: 1rem auto;
}

.cantidad-wrapper select {
    max-width: 100px;
}

.right h3 {
    display: block;
    margin: 1rem auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    max-width: 250px;
    display: block;
    margin: 1rem auto;
}

@media (max-width: 768px) {
    .contenedor-detalle {
        flex-direction: column;
    }

    .left,
    .right {
        flex: none;
        width: 95%;
    }
}