nav {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    background-color: rgba(205, 209, 214, 0.596);
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li {
    background-color: #fafafb;
    border-radius: 25px;
    margin-right: 1pc;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 1pc;
    }
}