.contenedor-servicios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.servicios-card {
    background-color: #94a4ac;
    border: solid #1c1c24;
    padding: 20px;
    border-radius: 10px;
    width: 3.5in;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;

    display: flex;
    align-items: center;
    height: 6in; /* Adjust to fit your layout */
    box-sizing: border-box;
    
}

.servicios-card h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.servicios-card h2 {
    text-align: center;
    margin-bottom: 10px;
}

.servicios-card h3 {
    text-align: center;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.servicios-card img {
    display: block;
    margin: auto;
    max-width: 3in;
    max-height: 3in;
}

.servicios-card button{
    display: block;
    margin: auto;
    margin-top: auto;
    margin-bottom: 8px;
}

.card-link {
  text-decoration: none;
  color: inherit;
}